<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="top.css">
    <title>Jordan's Top 3 Restaurant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">About me<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Why food?</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Outback Steakhouse</a>
              <a class="dropdown-item" href="#">Longhourn Steakhouse</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Bachi</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
​     <h1><center>Jordan's Top Picks For Restaurants</center></h1>
  <br>
  <br>
    <div class="container">
      <div class="row">
        <div class="card col-sm-4">
          <img src=https://az727346.vo.msecnd.net/content/images/Locations/1021.png class="card-img-top" alt="Image of Simone Biles">
          <div class="card-body">
            <h5 class="card-title"> Jordan's Number one Restaurant:Outback Stakehouse</h5>
            <p class="card-text">I really enjoy the portion sizes and the different cuts of steak, and the CHEESE FRIES are amazing.</p>
            <a><button type="button" class="btn btn-success">Website</button>
            <a> View Outback's Website</a>
          </div>
         </div>
      <!-- <-- card 2 -->
        <div class="card col-sm-4">
          <img class="card-img-top" alt="Image of Micheal Phelps" src="https://media.longhornsteakhouse.com/en_us/images/marketing/LH_BuildingFront_599x430.jpg" width="150">
            <div class="card-body">
              <h5 class="card-title"> Number 2 Restaurant:Longhorn Steakhouse</h5>
              <p class="card-text"> Coming in at number 2 is Longhorn! If you can't tell by now I am a steak man, and they have some of the best cuts.</p>
              <button type="button" class="btn btn-success">Website</button>View longhorn Website</a>
            </div>
        </div>
      
        <div class="card col-sm-4">
          <img class="card-img-top" alt="Image of Bachi" src="https://d2j8c2rj2f9b78.cloudfront.net/uploads/poster-images/bachi.jpg" width="200" width="150">
          <div class="card-body">
            <h5 class="card-title"> Number 3 Restaurant:Bachi</h5>
            <p class="card-text"> Last but certainly not least is a restaurant that is near and dear to my heart,bachi.This place is owned by my bestfriend which makes it super speacial. The great food is just an added plus.</p>
            <button type="button" class="btn btn-success">Website</button>View bachi Website</a>
          </div>
        </div>
      </div>
    </div>
​
      <div class="container">
        <div class="row justify-content-md-center">
          <img class="rounded-circle" alt="Image for food lovers" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/i-love-food-billi-vhito.jpg" style="width: 35%">          
        </div>
      </div>
​
      <div class="container">
    <div class="row justify-content-md-center">
      <span class="fa fa-asterisk"></span>
      <span class="fa fa-glass"></span>
      <span class="fa fa-fire"></span>
      <span class="fa fa-heart-o"></span>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <footer><center>Thank You For Visiting</center></footer>
  </body>
</html>